<!DOCTYPE html>
<html lang="en">
<head>
  <title>History Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>History Table</h2>         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Type Card</th>
        <th>Buy Date</th>
        <th>Code</th>
        <th>Used Date</th>
        <th>Status Card</th>
      </tr>
    </thead>
    <tbody>
        <% foundHistory.forEach( function(result){ %>
              <tr>
                <td><%= result.type_id.name %></td>
                <td><%= result.created_at %></td>
                <td><%= result.code%></td>
                <td><%= result.used_at %></td>
                <td><%= result.status == 0 ? 'Chưa sử dụng':'Đã sử dụng' %></td>
              </tr>
        <% })%>
    </tbody>
  </table>
  <a href="/card/buy">Quay về trang mua</a>
</div>

</body>
</html>
